[Unit]
Description=SMSD service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/wb-rules/scripts
ExecStart=/etc/wb-rules/scripts/smsd.sh
Restart=always

[Install]
WantedBy=multi-user.target
